<%- include('../partials/head') %> <%- include('../partials/navbar') %> <%
detailannonce.map(annonce => { %>
<div class="container">
  <h3 class="title_box"><%= annonce.title %></h3>
  <p class="paragr_box"><%= annonce.description %></p>
  <p class="techno"><%= annonce.createdAt %></p>
  <p class="techno"><%= annonce.salary %></p>
</div>
<% }) %>

<!-- {
    id: 104,
    title: 'Développeur Fullstack Node.js / React',  
    description: 'Projet SaaS en pleine croissance, recherche d’un profil polyvalent frontend/backend.',  
    skills: [ 1, 2, 3, 4, 6, 7 ],
    typeId: 1,
    startDate: 2025-09-10T00:00:00.000Z,
    salary: 4000,
    salaryUnitId: 1,
    companyName: 'CloudWorks',
    companyEmail: 'jobs@cloudworks.io',
    companyPhone: '+33 9 87 65 43 21',
    password: 'stackdev',
    createdAt: 2025-08-25T09:20:00.000Z,
    updatedAt: 2025-08-25T09:20:00.000Z
  }
] -->
