<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<div class="all_detail_card">
  <a href="/delete/<%= detailannonce.id %>" class="button_blue"
    >Supprimer cette annonce</a
  >

  <div class="container">
    <h3 class="title_box"><%= detailannonce.title %></h3>
    <h3 class="title_box"><%= detailannonce.companyName %></h3>

    <h4><%= detailannonce.skills.join(", ") %></h4>
    <p class="paragr_box"><%= detailannonce.description %></p>
    <p class="techno">Créée le : <%= detailannonce.createdAt %></p>
    <p class="techno">Salaire : <%= detailannonce.salary %> €</p>
    <p class="techno">Entreprise : <%= detailannonce.companyEmail %></p>
    <p class="techno">Telephone : <%= detailannonce.companyPhone %></p>
  </div>
</div>
