<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<div class="form-container">
<form id="formAnnonce" method="POST" action="/add">
     <fieldset>
    <div class="form-group">
      <label for="titre">Titre de l'annonce :</label>
      <input type="text" id="titre" name="titre" class="form-input" required />
    </div>

    <div class="form-group">
      <label for="description">Description :</label>
      <textarea
        id="description"
        name="description"
        class="form-input"
        rows="4"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="skills">Compétences(s) recherchée(s) CTRL+1 :</label>
      <select id="skills" name="skills" class="form-select" multiple required>
        <% skills.forEach(skill => { %>
        <option value="<%= skill.id %>"><%= skill.name %></option>
        <% }) %>
      </select>
    </div>
</fieldset>
      <fieldset>
    <div class="form-group">
      <label for="typeId">Type de mission :</label>
      <select id="typeId" name="typeId" class="form-select" required>
        <% missionTypes.forEach(type => { %>
        <option value="<%= type.id %>"><%= type.name %></option>
        <% }) %>
      </select>
    </div>

    <div class="form-group">
      <label for="startDate">Date de début :</label>
      <input
        type="date"
        id="startDate"
        name="startDate"
        class="form-input"
        required
      />
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="salary">Salaire :</label>
        <input
          type="number"
          id="salary"
          name="salary"
          class="form-input"
          min="0"
          required
        />
      </div>
      <div class="form-group">
        <label for="salaryUnitId">Unité de salaire :</label>
        <select
          id="salaryUnitId"
          name="salaryUnitId"
          class="form-select"
          required
        >
          <% salaryUnits.forEach(unit => { %>
          <option value="<%= unit.id %>"><%= unit.label %></option>
          <% }) %>
        </select>
      </div>
    </div>
</fieldset>
    
    <fieldset>
    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-input"
        required
      />
    </div>
</fieldset>
<div class="button_forms">
    <button type="submit" class="button_blue">Créer l'annonce</button>
</div>
</div>
  </form>
</div>
</div>
